# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mysql://root:root@localhost:3306/hotel_db?schema=public&serverTimezone=Asia/Ho_Chi_Minh"
DATABASE_USERNAME=root
DATABASE_PASSWORD='root'
DATABASE_NAME='hotel_db'
DATABASE_PORT=3306
JWT_SECRET='zNM.mwnungd,7;4iPz]mE:pJ7YiJRm'
JWT_REFRESH_SECRET='DtwJ:PTcK5.imC?3_yYPH73EwmTT=y'
EXPIRES_TIME="15m"
EXPIRES_TIME_R="7d"